  <div class="content">
    <h1>Our Goal</h1>
    <p>web application to rent, sell, and buy textbooks.<br>They include the following features:<br>
    <ul>
   	  <li> Textbook reviews</li>
        <li> Selling textbooks</li>
        <li> Renting textbooks</li>
        <li> And many other features</li>
    </ul>
    </p>
    
    
    <h2>Why would you want to join us?</h2>
    <p>
    	Buying new textbook is too expensive. Using this site for SJSU communities, we can exchange books with cheaper price in person.
    </p>
    <p>Let's exchange textbooks now with other SJSU students.</p>
    <!-- end .content --></div>
 <!-- debug -->
<p>
</p>
