<div id="/">
	<style>
		li{font-size: 14px;line-height: 30px;}
		ul{font-size: 14px;line-height: 30px;}
		h1{font-size: 28px;}
		.about-text{font-size: 14px; line-height: 30px}
	</style>

	<div class="content">
		<body>
			<h1>Our Goal</h1>
			<p class="about-text">Our web application is designed to allow SJSU students to buy, rent, and sell textbooks amongst each other.<br>They include the following features:<br>
			<ul>
				<li> Buying and renting textbooks</li>
			    <li> Selling textbooks</li>
			    <li> Reading textbook reviews</li>
			    <li> And many other features</li>
			</ul>
			</p>

			<p class="about-text">
				Thank you for joining our website.
			</p>
			<p class="about-text">If you have any questions about our website, please feel free to contact us.</p>
			<p class="about-text"> RailsCoders <br><a href="mailto:RailsCoders123456@gmail.com">Email: RailsCoders123456@gmail.com</a> 
			<br>Phone number: 123-456-7890</p>
		</body>
	</div>
</div>
<!-- debug -->
<p>
</p>
