<%=link_to image_tag("text_book.jpg", alt: "Text Book",size:"750x500"),"/",{:class=>'homepic'}%>
<div id="actions">
<table class=buttons>
 <tr>
 	<td>
	 	<form method="get" action="/posts">
	    	<button type="submit">BUY & RENT</button>
		</form>
	</td>
	<td>
	 	<form method="get" action="/books">
	    	<button type="submit">VIEW BOOKS</button>
		</form>
	</td>
	<td>
	 	<form method="get" action="sorted">
	    	<button type="submit">VIEW NEW RELEASES</button>
		</form>
	</td>
	<td>
	 	<form method="get" action="about">
	    	<button type="submit">ABOUT US</button>
		</form>
	</td>
</table>
</div>
<!-- debug -->
<p>
</p>
